body{
margin: 0;
padding: 0;
font-family: sans-serif;
background-image: url(images/Widescreen-Ultra-HD-Wallpaper.jpg);
background-size:cover;
}

article{

font-weight: bold;

}

nav{
background-color: grey;
height: 2em;
display:block;
width: 1075px;
transition-property: top;
transition-duration: 500ms;
top: 0;

list-style-type: none;
overflow: hidden;
width: 100%;
margin: 0px auto;
max-width: 100%;
border: 3px solid darkgrey;
position: fixed;
}

nav ul{
align-content: center;
list-style-type: none;
overflow: hidden;
padding: 0 2em;
margin: 0px auto;


}


nav ul li{

float: left;
padding: 0 2em;
width: 300px;
}


nav ul li a:hover {
    background-color:mediumpurple;
}


nav ul li a{

color: beige;
line-height: 2em;
text-decoration: none;

}




h1{

margin-bottom: 20px;
text-align: center;
text-decoration: underline;

}








main{

list-style-type: none;
overflow: hidden;
width: 1035px;
margin: 0px auto;
max-width: 1200px;
border: 10px solid grey;
color: white;



}

footer{

width: 1200px;
background-color:grey;
color: white;
height: 40px;
}

